/* TODO: MEDIA QUERIES FOR A MOBILE BREAKPOINT */

body {
  background-color: lightseagreen;
}

h1 {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  color: teal;
  text-shadow: 0px 0px 10px lightseagreen;
  margin: 0px;
  padding: 0px;
}

h2 {
  color: teal;
  text-shadow: 0px 0px 5px lightseagreen;
  font-size: 28px;
  margin: 5px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.mainNav > button {
  text-shadow: 0px 0px 3px lightseagreen;
  font-size: 22px;
}

button {
  color: teal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: none;
  margin: 5px;
  padding: 0px;
  background-color: aliceblue;
}

p {
  color: teal;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 5px solid teal;
  border-radius: 5px;
  margin: 20px;
  background-color: aliceblue;
}

.headerContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.profilePic {
  height: 200px;
  border: 5px solid lightseagreen;
  border-radius: 200px;
  margin: 30px;
}

#content {
  border: 5px solid teal;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: aliceblue;

}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.galleryImage {
  max-height: 250px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid teal;
}

.expandedImageContainer {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(200,200,200,.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.expandedImage {
  max-height: 80vh;
  max-width: 90vw;
}